<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      </head>

      <body>
            <h1>MyKitchen - Account Change Request</h1>
          
            <h2>Hi <%= @user.nickname %>!</h2>
            <p>
            To confirm the closing of your account please use this link: <%= @url %>
            </p>
      </body>
</html>