<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      </head>

      <body>
            <h1>Welcome to MyKitchen</h1>
          
            <h2>Hi <%= @user.nickname %>!</h2>
            <p>
            Please use this link to reset your password:
            </p>
            <p><%= @url %></p>
      </body>
</html>