Welcome to MyKitchen
=========================================
Hello <%= user.nickname %>,</h2>

Please use this link to reset your password. 

To login to the site, just follow this link: <%= @url %>.