<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
      </head>

      <body>
            <h1>Welcome to MyKitchen</h1>
          
            <h2>Hi <%= @user.nickname %>!</h2>
            <p>
            You have successfully signed up on MyKitchen.

            To get started just login.
            </p>
      </body>
</html>